body {
	padding: 0.1% !important;
}

.dateFormat {
    display:none;
}

.aplazado-row, .nocontrata-row {
    margin-top:0.5rem !important;
    display:none;
}
#actions-list {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
    float:right;
    right:1rem;
    position:absolute;
}

#actions-list li{
	float: left;
    margin-right:0.5rem;
}

#aplazadoDateField, #aplazadoPersonField {
    visibility:hidden;
}

textarea {
  resize: none;
  width:100%;
  height: 8rem;
}

.text-justify {
    text-align:justify;
}
.landing-logo {
    text-align:center;
	width:70% !important;    
}

.table-icon {
	width:0.5rem;    
}

.account-data-row th, .account-data-row td {
    display: inline-block;
	word-break: break-word;
    margin: 0.5%;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding:1%;
}

.column.column-middle {
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 1%;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
    max-width:200px;
}

.row.row-center {
  text-align:center !important;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column, .column-middle {
    width: 100%;
  }
}

.call-icon:hover {
    cursor: pointer;
}